
#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
library/
temp/
local/
/build
profiles/
native
remote-assets
extensions
#//////////////////////////
# NPM
#//////////////////////////
node_modules/
other_files/maps/
#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/
other_files/maps/101.psd
